.domestic-economy {
  &__catalog {
    background: #fff;
    padding: 20px 35px;
  }
  &__catalog-banner {
    background: linear-gradient(269.61deg, rgba(30, 82, 39, 0.79) 15.47%, #6E9C58 26.35%), #56855E;
    padding: 0 35px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &.domestic-economy__catalog-banner--green {
      background: url(../img/green-banner.png) right bottom no-repeat, linear-gradient(269.61deg, rgba(30, 82, 39, 0.79) 15.47%, #6E9C58 26.35%), #56855E;
    }
    h2 {
      font-weight: bold;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 15px;
    }
    a {
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 34px;
      padding: 4px 18px;
      &:after {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        transform: rotate(45deg);
        margin-left: 8px;
        position: relative;
        right: 0;
        transition: .2s ease-in-out right;
      }
      &:hover {
        opacity: .75;
        color: #fff;
        &:after {
          right: -4px;
        }
      }
    }
  }
  ul.domestic-economy__catalog-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    & > li {
      align-items: center;
      display: flex;
      margin: 5px 15px 5px 0;
      & > a {
        border: 1px solid #BAD3E4;
        display: flex;
        align-items: center;
        height: 37px;
        border-radius: 4px;
        padding: 0 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        background: #fff;
        transition: .2s ease-in-out opacity, .2s ease-in-out color, .2s ease-in-out border, .2s ease-in-out background;
        &.domestic-economy__catalog-filter--active {
          color: #FFFFFF;
          background: #27C6F0;
          border-color: transparent !important;
          pointer-events: none;
        }
        &.domestic-economy__catalog-filter--hot {
          border-color: #FB066B;
        }
        &.domestic-economy__catalog-filter--auctions {
          border-color: #D4A222;
        }
        &.domestic-economy__catalog-filter--collective-lots {
          border-color: #27C6F0;;
        }
        &.domestic-economy__catalog-filter--new {
          border-color: #4BC389;
        }
        &:hover {
          opacity: .65;
        }
      }
    }
  }
  &__catalog {

  }
  &__catalog-sort {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545C6A;
    display: inline-block;
    position: relative;
    min-width: 200px;
    text-align: right;
    & > ul {
      display: none;
      position: absolute;
      background: #fff;
      line-height: 1.2;
      transition: visibility .2s ease-in-out, max-height .45s ease-in-out, opacity .2s ease-in-out;
      top: 100%;
      right: -15px;
      overflow: hidden;
      z-index: 2;
      min-width: 150px;
      padding: 15px 15px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-shadow: 0 11px 8px 0 rgba(177, 198, 216, .5);
      li {
        margin-bottom: 8px;
        text-align: right;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      a {
        &:hover {
          opacity: .75;
        }
      }
    }
  }
  &__filter-active {
    display: inline-block;
    font-weight: 600;
    border-bottom: 1px dashed #000;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out opacity;
    &:hover {
      opacity: .75;
    }
    &:after {
      content: '';
      position: absolute;
      right: -15px;
      bottom: 6px;
      width: 8px;
      height: 8px;
      border-right: 2px solid #535C69;
      border-top: 2px solid #535C69;
      transform: rotate(135deg);

      transition: .3s ease-in-out bottom, .3s ease-in-out transform;
    }
    &.open {

    }

  }
  &__catalog-header {
    display: flex;
    justify-content: space-between;
    h2 {
      margin-bottom: 15px;
    }
  }

  &__catalog-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__catalog-item {
    width: 18.3%;
    margin-right: 2.1%;
    background: #FFFFFF;
    border: 1px solid #CFDCEB;
    border-radius: 5px;
    outline: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 60px;
    &:nth-of-type(5n){
      margin-right: 0;
    }
    &--hot{
      background: rgba(242, 206, 206, 0.6);
    }
    &--auction{
      background: #F8EECA;
    }
  }
  &__catalog-item-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 290px;

  }
  &__catalog-item-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
    padding: 18px 15px 0;
  }
  &__catalog-item-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 25px;
    flex-wrap: wrap;
    a {
      width: 132px;
      height: 38px;
      background: #27C6F0;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #fff;
        opacity: .75;
      }
    }
  }
  &__catalog-item-cost {
    font-weight: bold;
    font-size: 24px;
    i {
      width: 18px;
      height: 18px;
      background: url(../img/currency.svg) center/contain no-repeat;
      display: inline-block;
    }
  }
  &__catalog-item-like {
    width: 37px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #CFDCEB;
    position: absolute;
    top: 9px;
    right: 9px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 18px;
    background-image: url(../img/like.svg);
    cursor: pointer;
    transition: .2s ease-in-out background-image;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../img/like-y.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 21px 18px;
      opacity: 0;
      transition: .2s ease-in-out opacity;
      width: 100%;
      height: 100%;
    }
    &:hover {
      &:before{
        opacity: 1;
      }
    }
    &--yes{
      &:before{
        opacity: 1;
      }
      &:hover {
        &:before{
          opacity: 0;
        }
      }
    }

  }
  &__catalog-item-markers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 8px;
    left: 8px;
    li {
      font-weight: bold;
      font-size: 14px;
      color: #FFFFFF;
      border-radius: 14px;
      padding: 1px 11px;
      position: relative;
      margin-bottom: 4px;
      &.domestic-economy__catalog-item-markers--hot{
        background: #FB066B;
        padding-right: 23px;
        padding-left: 32px;
        &:before{
          content: '';
          left: 0;
          bottom: 0;
          position: absolute;
          width: 29px;
          height: 42px;
          background: url(../img/ico-hot.svg) center no-repeat;
        }
      }
      &.domestic-economy__catalog-item-markers--auction{
        background: #D4A222;
        padding-right: 23px;
        padding-left: 32px;
        &:before{
          content: '';
          left: -7px;
          bottom: -6px;
          position: absolute;
          width: 37px;
          height: 37px;
          background: url(../img/ico-auction.svg) center no-repeat;
        }
      }
      &.domestic-economy__catalog-item-markers--collective-lots{
        background: #27C6F0;
      }
      &.domestic-economy__catalog-item-markers--new{
        background: #4BC389;
      }
    }

  }
  &__catalog-item-disappear{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    strong{
      font-weight: bold;
      font-size: 14px;
      color: #E20560;
    }
  }

}

@media (max-width: 1500px) {
  .domestic-economy {
    &__catalog-item {
      width: 23%;
      margin-right: 2.6%;
      &:nth-of-type(5n){
        margin-right: 2.6%;
      }
      &:nth-of-type(4n){
        margin-right: 0 ;
      }
    }
  }
}
@media (max-width: 1300px) {
  .domestic-economy {
    &__catalog {
      padding: 10px 25px;
    }
    &__catalog-item {
      width: 30%;
      margin-right: 5%;
      &:nth-of-type(5n){
        margin-right: 5%;
      }
      &:nth-of-type(4n){
        margin-right: 5%;
      }
      &:nth-of-type(3n){
        margin-right: 0;
      }
    }
  }
}