.domestic-economy{
  &__history-list{
    background: #fff;
    padding: 55px 30px ;
  }
  &__history-row{
    display: flex;
    align-items: center;
    padding: 14px;
    border: 1px solid #CFDCEB;
    border-bottom: none;
    border-radius: 3px;
    justify-content: space-between;
    &:last-of-type{
      border-bottom: 1px solid #CFDCEB;
    }
    &:first-of-type{
      font-size: 12px;
      text-transform: uppercase;
      opacity: .5;
      border: none;
    }
    &>div{
      &:nth-of-type(1){
        width: 125px;
      }
      &:nth-of-type(2){
        width: 280px
      }
      &:nth-of-type(3){
        width: 150px;
      }
      &:nth-of-type(4){
        width: 150px;
      }
      &:nth-of-type(5){
        width: 150px;
      }
      &:nth-of-type(6){
        width: 160px;
      }
      &:nth-of-type(7){
        width: 300px;
      }
    }
  }
  &__history-photo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 125px;
  }
  &__history-title-column{
    display: flex;
    flex-direction: column;

  }
  &__history-title{
    font-weight: 600;
    line-height: 144.8%;
  }
  &__history-attr{
    font-size: 14px;
    line-height: 144.8%;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
  }
  &__history-count{
    font-weight: 600;
    font-size: 14px;
  }
  &__history-price{
    font-weight: 600;
    font-size: 18px;
    i{
      width: 10px;
      height: 10px;
      background: url(../img/currency.svg) center/contain no-repeat;
      display: inline-block;
    }
  }
  &__history-date{
    font-weight: 600;
    font-size: 14px;
  }
  &__history-status{
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;

    &:before{
      content: '';
      width: 18px;
      height: 18px;
      display: inline-block;
      margin-right: 6px;
    }
    &--on-way{
      &:before{
        background: url(../img/ico-on-way.svg) center/contain no-repeat;
      }
    }
    &--delivered{
      &:before{
        background: url(../img/ico-delivered.svg) center/contain no-repeat;
      }
    }
    &--returned{
      &:before{
        background: url(../img/ico-returned.svg) center/contain no-repeat;
      }
    }
  }
  &__history-btn{
    a{
      margin-left: auto;
      width: 252px;
      height: 50px;
      border: 1px solid #27C6F0;
      border-radius: 4px;
      font-weight: bold;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #010101;
      &:hover{
        opacity: .75;
      }
    }

  }
}

@media (max-width: 1500px) {
  .domestic-economy {
    &__history-row{
      &>div{
        &:nth-of-type(1){
          //width: 125px;
        }
        &:nth-of-type(2){
        }
        &:nth-of-type(3){
          width: 100px;
        }
        &:nth-of-type(4){
          width: 100px;
        }
        &:nth-of-type(5){
          width: 100px;
        }
        &:nth-of-type(6){
          //width: 160px;
        }
        &:nth-of-type(7){
          width: 185px;
        }
      }
    }
    &__history-btn{
      a{
        font-size: 14px;
        width: 185px;
      }
    }
  }
}
@media (max-width: 1300px) {
  .domestic-economy{
    &__history-list{
      padding: 45px 20px ;
    }
  }

}
@media (max-width: 1200px) {
  .domestic-economy {
    &__history-row{
      padding: 10px;
      &>div{
        &:nth-of-type(1){
          width: 100px;
        }
        &:nth-of-type(2){
          width: 230px
        }
        &:nth-of-type(3){
          width: 90px;
        }
        &:nth-of-type(4){
          width: 75px;
        }
        &:nth-of-type(5){
          width: 100px;
        }
        &:nth-of-type(6){
          width: 160px;
        }
        &:nth-of-type(7){
          width: 185px;
        }
      }
    }
    &__history-photo{
      height: 100px;
    }
    &__history-title{
      font-size: 14px;
    }
    &__history-btn{
      a{
        width: 185px;
        height: 40px;
      }
    }
  }
}